# Hent top Tv serier der bliver spillet idag

In [1]:
import bs4
import requests
import re
import regex
html = requests.get('https://www.imdb.com/list/ls057886464/')

text = html.text
soup = bs4.BeautifulSoup(text, 'html.parser')

In [2]:
#vue = soup.find("div", id="vue-instance")
#sec = vue.find("div", id="leaderboard-root-index")
#seccont= sec.find("div", {"class":"section-content-component"})
#leaders= seccont.find("div", {"class":"leaderboard-filters"})

In [3]:
content = soup.find("div", {"class":"lister list detail sub-list"})
listerlist = content.find("div", {"class":"lister-list"})


series = content.findAll("div", {"class":"lister-item mode-detail"})

top10 = []
for i in range(10):
    seriescontent = series[i].find("div", {"class":"lister-item-content"})
    titleh3 = seriescontent.find("h3", {"class":"lister-item-header"})
   
    number= titleh3.find("span", {"class":"lister-item-index unbold text-primary"}).get_text()
    title = titleh3.find("a").get_text()
    year =  titleh3.find("span", {"class":"lister-item-year text-muted unbold"}).get_text()

    movieinfo = [number,title,year]
    top10.append(movieinfo)

print(top10)

[['1.', 'Breaking Bad', '(2008–2013)'], ['2.', 'Game of Thrones', '(2011–2019)'], ['3.', 'Venner', '(1994–2004)'], ['4.', 'Sopranos', '(1999–2007)'], ['5.', "Mine glade 60'ere", '(1988–1993)'], ['6.', 'Seinfeld', '(1989–1998)'], ['7.', 'House of Cards', '(2013–2018)'], ['8.', 'Lost', '(2004–2010)'], ['9.', 'Westworld', '(2016– )'], ['10.', 'Stranger Things', '(2016– )']]

In [4]:
import pandas as pd 
from sqlalchemy import create_engine #sqlalchemy helped convert strings to dates seamlessly
import mysql.connector as mysql



def create_table(tablename):
    try:
        cnx = mysql.connect(host = "db", user="root", passwd = "root", db = "db")
        cursor = cnx.cursor(prepared=True)
        #Dropping EMPLOYEE table if already exists.
        cursor.execute("DROP TABLE IF EXISTS %s " %(tablename))

        #Creating table as per requirement
        sql = 'CREATE TABLE %s (number VARCHAR(2000) not null, tvseries VARCHAR(2000) not null, years VARCHAR(2000) not null)' %(tablename)
        cursor.execute(sql)

        #Closing the connection
   
        print('Successfully created tables')
        cnx.close()
    except:
        print('Something went wrong see error')


create_table("series")

Successfully created tables

In [15]:
        
def add_data(tablename, top10): 
    try:
        # dataframe to table

        #cnx = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3307,db='test') 
        con_str = "mysql+mysqlconnector://root:root@db/db"
        engine = create_engine(con_str)
        #connection = engine.raw_connection()
        
        df = pd.DataFrame(top10)
        df.columns = ['number', 'tvseries', 'years']
        df = df.applymap(str)
        df.to_sql("series",con=engine, if_exists='append', index = False)
        
        
        print('Successfully inserted data')
    except:
        print('Something went wrong see error')
    

        

add_data("series", top10)

  number           tvseries        years
0     1.       Breaking Bad  (2008–2013)
1     2.    Game of Thrones  (2011–2019)
2     3.             Venner  (1994–2004)
3     4.           Sopranos  (1999–2007)
4     5.  Mine glade 60'ere  (1988–1993)
5     6.           Seinfeld  (1989–1998)
6     7.     House of Cards  (2013–2018)
7     8.               Lost  (2004–2010)
8     9.          Westworld     (2016– )
9    10.    Stranger Things     (2016– )
Successfully inserted data

In [16]:
import sqlalchemy as s_a

# for password with special chars we need url encoding: import urllib.parse; urllib.parse.quote_plus("somestrangepasswordkx%jj5/g"); # will return the encoded password to put in the connectionsstring

# dialect+driver://username:password@host:port/database
SQLALCHEMY_DATABASE_URL = "mysql+mysqlconnector://root:root@db/db"
engine = s_a.create_engine(SQLALCHEMY_DATABASE_URL)
connection = engine.connect()
query = 'select * from series'
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet[:]

[('1.', 'Breaking Bad', '(2008–2013)'),
 ('2.', 'Game of Thrones', '(2011–2019)'),
 ('3.', 'Venner', '(1994–2004)'),
 ('4.', 'Sopranos', '(1999–2007)'),
 ('5.', "Mine glade 60'ere", '(1988–1993)'),
 ('6.', 'Seinfeld', '(1989–1998)'),
 ('7.', 'House of Cards', '(2013–2018)'),
 ('8.', 'Lost', '(2004–2010)'),
 ('9.', 'Westworld', '(2016– )'),
 ('10.', 'Stranger Things', '(2016– )')]